<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Về Chúng Tôi</h3>
                        <p>

                            Chúng tôi nhận đặt hàng trực tuyến và giao hàng tận nơi,và  hỗ trợ mua và nhận hàng trực tiếp tại văn phòng hoặc trung tâm xử lý đơn hàng
                        </p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>Địa chỉ văn phòng: 664/49 Nguyễn Đình Chiểu, phường 3, quận T3, thành phố Hồ Chí Minh</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>077-565-4423</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>phamquochuy24082013@gmail.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Danh Mục</h3>
                        <ul class="footer-links">
                            <li><a href="#">Điện Thoại</a></li>
                            <li><a href="#">Laptops</a></li>
                            <li><a href="#">Máy Tính Bảng</a></li>
                           
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Thông tin</h3>
                        <ul class="footer-links">
                            <li><a href="#">Vị trí</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Hỗ trợ khách hàng</h3>
                        <ul class="footer-links">
                            <li><a href="#">Các câu hỏi thường gặp</a></li>
                            <li><a href="#">Gửi yêu cầu hỗ trợ</a></li>
                            <li><a href="#">Hướng dẫn đặt hàng</a></li>
                            <li><a href="#">Phương thức vận chuyển</a></li>
                            <li><a href="#">Hướng dẫn mua trả góp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->
    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>  Thiết kế bởi <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.facebook.com/ghost.huydz" target="_blank">Phạm Quốc Huy</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>